import React from 'react';

interface {{.ComponentName}}Props {
  // TODO: プロパティを定義してください
}

const {{.ComponentName}}: React.FC<{{.ComponentName}}Props> = () => {
  return (
    <div className="{{.componentName}}">
      <h1>{{.ComponentName}} Component</h1>
      {/* TODO: コンポーネントの内容を実装してください */}
    </div>
  );
};

export default {{.ComponentName}};
